[DEVICE]
Name=ATMEGA32
Clock=8000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_NanoGPS_AVR.c
[HEADERS]
Count=3
File0=Click_NanoGPS_timer.h
File1=Click_NanoGPS_config.h
File2=Click_NanoGPS_types.h
[PLDS]
Count=1
File0=Click_NanoGPS.pld
[Useses]
File0=NanoGPS_AVR_LT
File1=UART
File2=C_String
File3=easyavr_v7_ATMEGA32
Count=4
